{% extends 'school/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<br>

 
  
    

 
  <div class="container">
    <hr>
      </div>
<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
   <div class="page-wrapper">
       <div class="blog-top clearfix">
           <h4 class="pull-left">คณะผู้จัดทำ <a href="#"><i class="fa fa-rss"></i></a></h4>
       </div><!-- end blog-top -->

       <div class="blog-list clearfix">
           
           <div class="blog-box row">
               <div class="col-md-4">
                   <div class="post-media">
                       <a href="" title="">
                           <img src="{% static 'bt/images/admin/ad1.png '%}" alt="" class="img-fluid "   >
                           <div class="hovereffect"></div>
                       </a>
                   </div><!-- end media -->
               </div><!-- end col -->

               <div class="blog-meta  col-md-8 ">
                   <h4><a href="" title="">ชื่อ-สกุล : นายกิตติพงษ์  พาบุดดา</a></h4><hr>
                   <h4>รหัสนักศึกษา</h4><span class="bg-orange">&nbsp: 63302040051 <a href="" title=""> </a></span>
                   <h4>แผนก</h4><span class="bg-orange">&nbsp: คอมพิวเตอร์ธุรกิจ <a href="" title=""> </a></span>
                   <h4>สาขาวิชา</h4><span class="bg-orange">&nbsp: เทคโนโลยีธุรกิจดิจิทัล<a href="" title=""> </a></span>
                 
               </div><!-- end meta -->
           </div><!-- end blog-box -->
           <br>
           <div class="blog-box row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="" title="">
                        <img src="{% static 'bt/images/admin/ad2.png '%}" alt="" class="img-fluid "   >
                        <div class="hovereffect"></div>
                    </a>
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="blog-meta  col-md-8 ">
                <h4><a href="" title="">ชื่อ-สกุล : นางสาวกรรณิการ์ กังขุนทด</a></h4><hr>
                <h4>รหัสนักศึกษา</h4><span class="bg-orange">&nbsp: 63302040001 <a href="" title=""> </a></span>
                <h4>แผนก</h4><span class="bg-orange">&nbsp: คอมพิวเตอร์ธุรกิจ <a href="" title=""> </a></span>
                <h4>สาขาวิชา</h4><span class="bg-orange">&nbsp: เทคโนโลยีธุรกิจดิจิทัล<a href="" title=""> </a></span>
              
            </div><!-- end meta -->
        </div><!-- end blog-box -->
           
       </div><!-- end blog-list -->
   </div><!-- end page-wrapper -->
  
</div><!-- end col -->




  {% endblock %}